---
layout: head-layout.liquid
---
<div class="bg-neutral-700 text-white pt-1 text-3xl">
    <a href="/" class="float-start px-1">
        <span class="material-symbols-outlined">search</span>
    </a>
    <p class="text-center kalam-regular">Hulipaa</p>
</div>

{{ content }}