---
layout: content-layout.liquid
title: Hulipaa Demo
---

<h1 class="text-center">Hulipaa Demo</h1>
<div class="hulipaa_searchbar max-w-96 mx-auto mt-1"></div>
<script type="module">
    import { parseSourcePageText } from '/js/parseFilesHelpers.mjs'

    window.addEventListener('DOMContentLoaded',() => {
        Hulipaa({
            parsePage: (fileContent) => ({
              text: parseSourcePageText(fileContent)
            }),
            resultsPath: '/search-results'
        })
    });
</script>